[submodule ".registry"]
	path = .registry
	url = https://github.com/metalofis/metalofis.r-universe.dev
	branch = HEAD
[submodule "Orangutan"]
	path = Orangutan
	url = https://github.com/metalofis/Orangutan-R
